.container{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: var(--margin-top);
}

.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 15px;
  background-color: var(--color-fondo);

}

.title{
  color: var(--color-title);
  font-size: var(--fontSize-title);
  font-weight: var(--fontWeight-title);
  }
  
  .text{
    width: 100%;
    color: var(--color-text);
    font-size: var(--fontSize-text);
    font-weight: var(--fontWeight-title);
  }

  .icon{
    color: var(--color-text);
    align-self: center;
    font-size: var(--fontSize-subTitle);
  }
