.container {
  width: 100vw;
  height: 300px;
  flex-direction: column;
  background-color: var(--color-text);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.title {
  color: var(--color-title);
  font-size: var(--fontSize-title);
  font-weight: var(--fontWeight-title);
}

.subTitle {
  color: var(--color-subTitle);
  font-size: var(--fontSize-text);
  font-weight: var(--fontWeight-subTitle);
}

.content__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: var(--margin-top);
  z-index: 3;
}

.links{
background-color: var(--color-subTitle);
  border-radius: 50%;

}

.links:hover{
background-color: var(--color-text);
border-radius: 40%;
}

.icon {
  color: var(--color-text);
  
  font-size: var(--fontSize-subTitle);
  font-weight: var(--fontWeight-title);
}

.icon:hover {
  color: var(--color-icons);
}

.text{
  color: var(--color-icons);
  font-size: var(--fontSize-text);
  font-weight: var(--fontWidth-text);
}